*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif;
}

nav{
    display: flex;
    height: 3rem;
    background-color: #f8f5fe;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    border-bottom: 0.5px solid rgba(204, 204, 204, 0.61);
}

.Logo p {
    color: #4b24a7;
    font-weight: bolder;
}

.Logo p span{
    color: #c46c78;
}

.navList{
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    display: inline;
    margin: 2rem;
}

nav ul li a{
    text-decoration: none;
    color: rgb(70, 69, 69);
    font-size: 15px;
    font-weight: bold;
}

nav ul li a:hover{
    color: #6833e3;
}

nav button{
    background-color: #6833e3;
    border: none;
    color: white;
    width: 5rem;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 10px;
}

nav button:hover{
    background-color: #4b24a7;
}

.partOne{
    width: 85%;
    background-color: #f8f5fe;
    height: 37rem;
    border-radius: 0% 0% 100% 10%;
    display: flex;
}

.text-section{
    width: 50%;
    margin-left: 10%;
    padding-top: 6rem
}

.text-section h1{
    font-size: 4rem;
}

.text-section hr{
    height: 0.4rem;
    background-color: #c46c78;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    border: none;
}

.text-section h4{
    font-weight: 1;
    line-height: 20px;
    font-size: 15px;
}

.getStarted{
    margin-top: 1rem;
    display: flex;
}

.getStarted button{
    background-color: #6833e3;
    border: none;
    color: white;
    width: 6rem;
    border-radius: 10px;
    padding: 0.7rem;
    font-size: 10px;
    font-weight: bold;
}

.getStarted button:hover{
    background-color: #4b24a7;
}

.getStarted img{
    height: 2rem;
    margin-left: 2rem;
}

.text-section ul{
    margin-top: 1rem;
    
}

.text-section ul li{
    display: inline;
    margin-right: 3rem;
    font-size: 13px;
    font-weight: bold;
}

.text-section ul li img{
    margin-bottom: -3px;
    margin-right: 0.5rem;
}

.img-section img{
    height: 25rem;
    margin-left: 7rem;
    margin-top: 1rem;
}

.partTwo{
    width: 80%;
    margin: auto;
    margin-top: -8rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.partTwo img{
    height: 30px;
}

.secondSection{
    text-align: center;
    width: 85%;
    margin: auto;
    margin-top: 4rem;
}

.worksList{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.plan{
    padding: 1rem;
}

.worksList .plan{
    background-color: #f9f8fe;
    width: 20%;
    border-radius: 20px;
}

.worksList .plan div{
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    background-color: #6a34e6;
    margin-bottom: 10px;
}

.worksList .plan img{
    margin-top: 7px;
}

.plan h3{
    margin-bottom: 10px;
}

.plan h5, .course h5, .award h5, .certificate h5{
    font-weight: 400;
}

.course{
    padding: 1rem;
}

.worksList .course{
    background-color: #fff3f3;
    width: 20%;
    border-radius: 20px;
}

.worksList .course div{
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    background-color: #c4555d;
    margin-bottom: 10px;
}

.worksList .course img{
    margin-top: 7px;
}

.course h3{
    margin-bottom: 10px;
}

.award{
    padding: 1rem;
}

.worksList .award{
    background-color: #f3fdff;
    width: 20%;
    border-radius: 20px;
}

.worksList .award div{
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    background-color: #59d1fe;
    margin-bottom: 10px;
}

.worksList .award img{
    margin-top: 7px;
}

.award h3{
    margin-bottom: 10px;
}

.certificate{
    padding: 1rem;
}

.worksList .certificate{
    background-color: #fffaf4;
    width: 20%;
    border-radius: 20px;
}

.worksList .certificate div{
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    background-color: #f0bf76;
    margin-bottom: 10px;
}

.worksList .certificate img{
    margin-top: 7px;
}

.certificate h3{
    margin-bottom: 10px;
}

.thirdSection{
    width: 85%;
    margin: auto;
    margin-top: 4rem;
    display: flex;
}

.secondImageSection {
   width: 50%;
   height: 35rem;
   border-radius: 50%;
   background-color: #f9f8fe;
}

.secondImageSection img{
    height: 20rem;
    margin-left: 7rem;
    margin-top: 7rem;
}

.accessible{
    width: 50%;
    padding: 2rem;
    padding-left: 3rem;
    padding-top: 8rem;
}

.accessible h1{
    font-size: 2.5rem;
    font-weight: 300;
}

.accessible h5{
    font-weight: 100;
    line-height: 20px;
    margin-top: 5px;
}

.check1 ul,.check2 ul{
    display: flex;
}

.check1 ul li, .check2 ul li{
    display: flex;
    margin-right: 5rem;
    margin-top: 1rem;
}

.check1 ul li img, .check2 ul li img{
    margin-right: 0.5rem;
}

.accessible button{
    background-color: #6833e3;
    border: none;
    color: white;
    width: 6rem;
    border-radius: 10px;
    padding: 0.7rem;
    font-size: 10px;
    font-weight: bold;
    margin-top: 1rem;
}

.accessible button:hover{
    background-color: #4b24a7;
}

.fourthSection{
    width: 85%;
    margin: auto;
    margin-top: 4rem;
}

.latest{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.latest h5{
    line-height: 20px;
    font-weight: 100;
}

.latest button{
    background-color: #6833e3;
    border: none;
    color: white;
    width: 6rem;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 10px;
    font-weight: bold;
    margin-left: auto;
    margin-top: 2rem;
}

.latest button:hover{
    background-color: #4b24a7;
}

.latestCourses{
    display: flex;
    justify-content: space-between;
}

.card {
    width: 20%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #f9f8fe;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card2:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card3:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture {
    width: 100%;
    height: 10rem;
    background-color: #ccc;
    background-image: url('images/carlos-muza-hpjSkU2UYSU-unsplash.jpg');
    background-size: cover;
    border-radius: 10px;
}

.card h6 {
    margin-top: 1rem;
}

.card h5 {
    margin-top: 0.5rem;
}

.duration{
    display: flex;
    margin-top: -0.7rem;
    margin-bottom: .5rem;
}

.lessons{
    margin-left: auto;
}

.card1 {
    width: 20%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #f9f8fe;
}

.card1 .picture {
    width: 100%;
    height: 10rem;
    background-color: #ccc;
    background-image: url('images/rachael-gorjestani-X6CZGpJBi8U-unsplash.jpg');
    background-size: cover;
    border-radius: 10px;
}

.card1 h6 {
    margin-top: 1rem;
}

.card1 h5 {
    margin-top: 0.5rem;
}

.card2 {
    width: 20%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #f9f8fe;
}

.card2 .picture {
    width: 100%;
    height: 10rem;
    background-color: #ccc;
    background-image: url('images/juanjo-jaramillo-mZnx9429i94-unsplash.jpg');
    background-size: cover;
    border-radius: 10px;
}

.card2 h6 {
    margin-top: 1rem;
}

.card2 h5 {
    margin-top: 0.5rem;
}

.card3 {
    width: 20%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #f9f8fe;
}

.card3 .picture {
    width: 100%;
    height: 10rem;
    background-color: #ccc;
    background-image: url('images/annie-spratt-IT6aov1ScW0-unsplash.jpg');
    background-size: cover;
    background-position: 0px -70px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.card3 h6 {
    margin-top: 1rem;
}

.card3 h5 {
    margin-top: 0.5rem;
}


.fifthSection{
    width: 85%;
    margin: auto;
    margin-top: 4rem;
}

.clients{
    display: flex;
}

.clients button{
    background-color: #6833e3;
    border: none;
    color: white;
    width: 6rem;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 10px;
    font-weight: bold;
    margin-left: auto;
    margin-top: 2rem;
}

.clients button:hover{
    background-color: #4b24a7;
}

.clientCards{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.clientCard{
    width: 28%;
    background-color: #f9f8fe;
    padding: 1rem;
    border-radius: 5px;
}

.clientCard h6{
    padding-top: 5px;
    line-height: 17px;
}

.clientCard .statement{
    padding-top: 10px;
}

.sixthSection{
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    background-color: #6833e3;
    color: white;
    padding-top: 2rem;
    border-radius: 10px 10px 30% 30%;
}

.sixthSection h1{
    font-size: 40px;
    margin-bottom: 1rem;
}

.sixthSection h5{
    line-height: 20px;
    margin-bottom: 2rem;
}

.subscribe input[type="email"]{
    width: 40%;
    padding: 10px;
    margin-bottom: 5rem;
    border-radius: 10px;
    border: none;
}

.subscribe input[type="button"]{
    width: 7%;
    padding: 12px;
    background-color: #c75e5c;
    border: none;
    color: white;
    font-size: 10px;
    position: absolute;
    border-radius: 10px;
    margin-left: -4rem;
}

footer{
    margin-top: 10rem;
    background-color: #6833e3;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 5rem;
}

.solution, .programs, .about, .resources{
    width: 23%;
    padding: 1rem;
    color: white;
}

.Logo2 a p {
    font-weight: bolder;
    color: white;
}

.Logo2 a {
    text-decoration: none;
}

.Logo2 p span{
    color: #c46c78;
}

.solution h5{
    font-weight: 100;
    line-height: 1.2rem;
    margin-top: 1rem;
    font-size: 12px;
}

.programs li, .about li, .resources li{
    list-style: none;
    margin-top: 1.2rem;
    font-size: 12px;
    font-weight: 100;
}

.programs li a, .about li a, .resources li a{
    text-decoration: none;
    color: white;
    
}

/* Tablet View */

@media screen and (max-width:768px) {
    .text-section h1{
        font-size: 2.5rem;
    }

    .text-section{
        padding: 0;
        padding-top: 2rem;
    }

    .text-section hr{
        /* display: none; */
    }

    .partTwo{
        margin-top: 2rem;
    }
}